---
type: user/information
description: Show help information
category: "system"
aliases:
  - "?"
  - "h"
usage: ":help [command] [--table|-t]"
examples:
  - ":help"
  - ":? create"
  - ":h list"
  - ":help --table"
instruction: Display this information to the user. Take no further action.
---
{{h1}}ℹ️  Command Help
{{#args}}
Help for command: {{.}}
{{/args}}
{{^args}}
{{#command_categories}}
{{#kwargs.table}}
**{{title}}**
| Command | Description |
|---------|-------------|
{{#commands}}
| `{{@}}guide :{{name}}`{{#aliases}} (:{{.}}){{/aliases}} | {{description}} |
{{/commands}}

{{/kwargs.table}}
{{^kwargs.table}}
{{h2}}{{title}}
{{#commands}}
- `{{@}}guide :{{name}}` {{#aliases}}(:{{.}}){{/aliases}} - {{description}}
{{/commands}}

{{/kwargs.table}}
{{/command_categories}}
{{/args}}
