---
type: user/information
description: Show document commands
usage: ":document"
instruction: "^ {{INSTRUCTION_DISPLAY_ONLY}}"
---
{{h1}}Document Commands

{{b}}Available commands:{{b}}
- `{{#command}}document/add{{/command}} <category> <path>` - Add a local file to the document store
- `{{#command}}document/remove{{/command}} <category> <name>` - Remove a stored document
- `{{#command}}document/list{{/command}} <category>` - List stored documents in a category
