---
type: user/information
description: Show help information
category: "system"
aliases:
  - "?"
  - "h"
usage: ":help [command] [--table|-t]"
examples:
  - ":help"
  - ":? create"
  - ":h list"
  - ":help --table"
instruction: "{{INSTRUCTION_DISPLAY_ONLY}}"
---
{{h1}}ℹ️  Command Help
{{#args}}
{{#command_help}}
{{h2}}{{name}}{{#aliases}} ({{#first}}{{/first}}:`{{value}}`{{#last}}{{/last}}{{^last}}, {{/last}}{{/aliases}})

{{description}}

{{#usage}}
{{b}}Usage:{{b}} `{{usage}}`
{{/usage}}

{{#examples}}
{{h3}}Examples
{{#.}}
- `{{.}}`
{{/.}}
{{/examples}}
{{/command_help}}
{{^command_help}}
Command not found: {{.}}
{{/command_help}}
{{/args}}
{{^args}}
{{#command_categories}}
{{#kwargs.table}}
{{b}}{{title}}{{b}}
| Command | Description |
|---------|-------------|
{{#commands}}
| `{{#command}}{{name}}{{/command}}`{{#aliases_csv}}{{#command-alias}}{{.}}{{/command-alias}}{{/aliases_csv}} | {{description}} |
{{/commands}}

{{/kwargs.table}}
{{^kwargs.table}}
{{h2}}{{title}}
{{#commands}}
- `{{#command}}{{name}}{{/command}}`{{#aliases_csv}}{{#command-alias}}{{.}}{{/command-alias}}{{/aliases_csv}} - {{description}}
{{/commands}}

{{/kwargs.table}}
{{/command_categories}}
{{/args}}
