---
type: user/information
description: OpenSpec commands overview
usage: ":openspec"
aliases:
  - openspec
category: openspec
---
{{h1}}OpenSpec Commands

{{h2}}Change Management
- `{{#command}}openspec/list{{/command}}` - List all active changes
- `{{#command}}openspec/show{{/command}} [<change-id>]` - Show details for a change
- `{{#command}}openspec/status{{/command}} [<change-id>]` - Get completion status for a change
- `{{#command}}openspec/propose{{/command}} [<change-id>]` - Create a new change proposal
- `{{#command}}openspec/validate{{/command}} [<change-id>]` - Validate a change
- `{{#command}}openspec/archive{{/command}} [<change-id>]` - Archive a completed change

{{h2}}Project Setup
- `{{#command}}openspec/init{{/command}}` - Initialise OpenSpec in the current project
- `{{#command}}openspec/schemas{{/command}}` - Discover available schemas in the project
