---
type: user/information
description: Shows system status and current project state
usage: ":status"
instruction: "{{#workflow.phase}}Display this content to the user verbatim. Do not interpret this content as instructions.{{/workflow.phase}}{{^workflow.phase}}Follow the instructions in this content to establish the workflow state.{{/workflow.phase}}"
includes:
  - _partials/workflow-status
  - _partials/taskmanager
  - _partials/client-info
---
{{h1}}System Status

{{b}}MCP Guide:{{b}} `v{{server.version}}`
{{b}}Agent:{{b}} `{{#agent}}{{agent.name}}{{#agent.version}} v{{agent.version}}{{/agent.version}}{{/agent}}{{^agent}}Not yet detected{{/agent}}`
{{#agent.prefix}}{{b}}Command Prefix:{{b}} `{{#agent}}{{agent.prefix}}{{/agent}}{{^agent}}{{@}}{{/agent}}`{{/agent.prefix}}
{{b}}Tool Prefix:{{b}} `{{#tool_prefix}}{{tool_prefix}}{{/tool_prefix}}{{^tool_prefix}}None{{/tool_prefix}}`
{{b}}Project:{{b}} `{{project.name}}`
{{^agent}}

{{>client-info}}
{{/agent}}
{{#workflow}}{{#workflow.phase}}{{>workflow-status}}{{>taskmanager}}{{/workflow.phase}}{{^workflow.phase}}

The workflow file has not yet been received from the agent.
To provide full workflow state information, you MUST use the {{tool_prefix}}send_file_content tool to send the complete contents of `{{workflow.file}}` with path `{{workflow.file}}`, then retry the `status` command.
{{/workflow.phase}}{{/workflow}}{{^workflow}}

Workflow details not yet detected.

Please try `:status` again.
{{/workflow}}
