---
type: agent/instruction
description: Remove path from additional read paths
usage: "guide://_project/perm/read/remove/<path>"
category: project-permissions
aliases:
  - perm/read/remove
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
---
{{#args.0.value}}
Use the remove_permission_path tool with:
permission_type: 'read'
path: '{{args.0.value}}'
{{/args.0.value}}
{{^args.0.value}}
{{#_error}}Missing required argument: path{{/_error}}

{{b}}Usage:{{b}} `{{#command}}project/perm/read/remove{{/command}} <path>`

{{b}}Example:{{b}} `{{#command}}project/perm/read/remove{{/command}}{{#command-args}}/external/data{{/command-args}}`
{{/args.0.value}}
