---
type: user/information
description: Show category commands and current categories
usage: ":project/category [--verbose|-v]"
category: project-categories
aliases:
  - category
instruction: "^ {{INSTRUCTION_DISPLAY_ONLY}}"
---
{{h1}}Category Commands

{{b}}Available commands:{{b}}
- `{{#command}}project/category/list{{/command}}` - List all categories
- `{{#command}}project/category/add{{/command}} <name>` - Add new category
- `{{#command}}project/category/remove{{/command}} <name>` - Remove category
- `{{#command}}project/category/change{{/command}} <name>` - Change category properties
- `{{#command}}project/category/update{{/command}} <name>` - Update patterns
- `{{#command}}project/category/files{{/command}} <name>` - List files in category

{{b}}Current Categories:{{b}}
{{#project.categories}}
- `{{name}}`{{#kwargs.verbose}} ({{dir}}, patterns: {{#patterns}}{{value}}{{^last}}, {{/last}}{{/patterns}}){{/kwargs.verbose}}{{#kwargs.v}} ({{dir}}, patterns: {{#patterns}}{{value}}{{^last}}, {{/last}}{{/patterns}}){{/kwargs.v}}
{{/project.categories}}
{{^project.categories}}
No categories configured
{{/project.categories}}
