---
type: user/information
description: Show collection commands and current collections
usage: ":project/collection [--verbose|-v]"
category: project-collections
aliases:
  - collection
instruction: "^ {{INSTRUCTION_DISPLAY_ONLY}}"
---
{{h1}}Collection Commands

{{b}}Available commands:{{b}}
- `{{#command}}project/collection/list{{/command}}` - List all collections
- `{{#command}}project/collection/add{{/command}} <name>` - Add new collection
- `{{#command}}project/collection/remove{{/command}} <name>` - Remove collection
- `{{#command}}project/collection/change{{/command}} <name>` - Change collection properties
- `{{#command}}project/collection/update{{/command}} <name>` - Update categories

{{b}}Current Collections:{{b}}
{{#project.collections}}
- `{{name}}`{{#kwargs.verbose}} ({{#categories}}{{value}}{{^last}}, {{/last}}{{/categories}}){{#description}} - {{description}}{{/description}}{{/kwargs.verbose}}{{#kwargs.v}} ({{#categories}}{{value}}{{^last}}, {{/last}}{{/categories}}){{#description}} - {{description}}{{/description}}{{/kwargs.v}}
{{/project.collections}}
{{^project.collections}}
No collections configured
{{/project.collections}}
