---
type: user/information
---
## OpenSpec Change: {{changeName}}

**Schema:** {{schemaName}}

{{#description}}
{{description}}

{{/description}}
{{#artifacts}}
### Artifacts

{{#artifacts}}
- **{{id}}:** `{{outputPath}}` ({{status}})
{{/artifacts}}
{{/artifacts}}
