---
type: agent/instruction
description: Instructions for collecting detailed client context information for {{client.os}}
---
Please collect detailed client environment information and send it using the {{tool_prefix}}send_file_content tool with path '.client-context.json':

Execute these commands to collect the data:

**User Information:**
1. Run `whoami` to get username
{{#equals}}Linux{{client.os}}
2. Run `getent passwd $USER | cut -d: -f5 | cut -d, -f1` to get full name
3. Run `id -u` to get user ID
4. Run `id -G` to get group IDs
5. Run `who am i | awk '{print $3 " " $4}'` to get login time
{{/equals}}
{{#equals}}Darwin{{client.os}}
2. Run `dscl . -read /Users/$USER RealName | cut -d: -f2 | sed 's/^ *//'` to get full name
3. Run `id -u` to get user ID
4. Run `id -G` to get group IDs
5. Run `who am i | awk '{print $3 " " $4}'` to get login time
{{/equals}}
{{#contains}}MINGW{{client.os}}
2. Run `net user %USERNAME% | findstr /C:"Full Name" | cut -d: -f2 | sed 's/^ *//'` to get full name
3. Set uid to 0
4. Set gids to empty array
5. Run `echo %DATE% %TIME%` to get login time
{{/contains}}

**System Information:**
{{#equals}}Linux{{client.os}}
6. Run `cat /proc/uptime | cut -d' ' -f1 | cut -d. -f1` to get uptime in seconds
7. Run `uptime -p` to get human-readable uptime
{{/equals}}
{{#equals}}Darwin{{client.os}}
6. Calculate uptime: `expr $(date +%s) - $(sysctl -n kern.boottime | awk '{print $4}' | sed 's/,//')`
7. Run `uptime | sed 's/.*up //' | sed 's/, [0-9]* user.*//'` to get human-readable uptime
{{/equals}}
{{#contains}}MINGW{{client.os}}
6. Set uptime to 0
7. Run `systeminfo | findstr /C:"System Boot Time"` to get boot time
{{/contains}}

**Repository Information:**
8. Run `git remote` to get list of remotes
9. Run `git remote -v` to get remote URLs

Then construct JSON in this format:
```json
{
  "user": {
    "name": "<result from whoami>",
    "fullname": "<result from full name command>",
    "firstname": "<first word of fullname>",
    "lastname": "<remaining words of fullname>",
    "uid": <result from id -u>,
    "gids": [<comma-separated results from id -G>],
    "login_time": "<result from login time command>"
  },
  "system": {
    "uptime": <uptime in seconds>,
    "uptime_human": "<human-readable uptime>"
  },
  "repo": {
    "remotes": ["<remote1>", "<remote2>", ...],
    "<remote1>": {"fetch_url": "<url>", "push_url": "<url>"},
    "<remote2>": {"fetch_url": "<url>", "push_url": "<url>"}
  }
}
```

Send this data as JSON using: `{{tool_prefix}}send_file_content` with path `.client-context.json`
