---
type: agent/instruction
description: Instructions for collecting detailed client context information for {{client.os}}
---
Please collect detailed client environment information and send it using the {{tool_prefix}}send_file_content tool with path '.client-context.json':

**Required JSON format:**
```json
{
  "user": {
    "name": "$(whoami)",
{{#equals}}Linux{{client.os}}
    "fullname": "$(getent passwd $USER | cut -d: -f5 | cut -d, -f1)",
    "firstname": "$(getent passwd $USER | cut -d: -f5 | cut -d, -f1 | cut -d' ' -f1)",
    "lastname": "$(getent passwd $USER | cut -d: -f5 | cut -d, -f1 | cut -d' ' -f2-)",
    "uid": $(id -u),
    "gids": [$(id -G | tr ' ' ',')],
    "login_time": "$(who am i | awk '{print $3 " " $4}')"
{{/equals}}
{{#equals}}Darwin{{client.os}}
    "fullname": "$(dscl . -read /Users/$USER RealName | cut -d: -f2 | sed 's/^ *//')",
    "firstname": "$(dscl . -read /Users/$USER RealName | cut -d: -f2 | sed 's/^ *//' | cut -d' ' -f1)",
    "lastname": "$(dscl . -read /Users/$USER RealName | cut -d: -f2 | sed 's/^ *//' | cut -d' ' -f2-)",
    "uid": $(id -u),
    "gids": [$(id -G | tr ' ' ',')],
    "login_time": "$(who am i | awk '{print $3 " " $4}')"
{{/equals}}
{{#contains}}MINGW{{client.os}}
    "fullname": "$(net user %USERNAME% | findstr /C:\"Full Name\" | cut -d: -f2 | sed 's/^ *//')",
    "firstname": "$(net user %USERNAME% | findstr /C:\"Full Name\" | cut -d: -f2 | sed 's/^ *//' | cut -d' ' -f1)",
    "lastname": "$(net user %USERNAME% | findstr /C:\"Full Name\" | cut -d: -f2 | sed 's/^ *//' | cut -d' ' -f2-)",
    "uid": 0,
    "gids": [],
    "login_time": "$(echo %DATE% %TIME%)"
{{/contains}}
  },
  "system": {
{{#equals}}Linux{{client.os}}
    "uptime": $(cat /proc/uptime | cut -d' ' -f1 | cut -d. -f1),
    "uptime_human": "$(uptime -p)"
{{/equals}}
{{#equals}}Darwin{{client.os}}
    "uptime": $(sysctl -n kern.boottime | awk '{print $4}' | sed 's/,//' | xargs -I {} date -r {} +%s | xargs -I {} expr $(date +%s) - {}),
    "uptime_human": "$(uptime | sed 's/.*up //' | sed 's/, [0-9]* user.*//')"
{{/equals}}
{{#contains}}MINGW{{client.os}}
    "uptime": 0,
    "uptime_human": "$(systeminfo | findstr /C:\"System Boot Time\")"
{{/contains}}
  },
  "repo": {
    "remotes": [$(git remote 2>/dev/null | sed 's/.*/"&"/' | tr '\n' ',' | sed 's/,$//')],
    $(git remote -v 2>/dev/null | awk '!seen[$1$2]++ {gsub(/\(fetch\)|\(push\)/,""); print "\"" $1 "\": {\"fetch_url\": \"" $2 "\", \"push_url\": \"" $2 "\"}"}' | tr '\n' ',' | sed 's/,$//')
  }
}
```

Send this data as JSON using: `{{tool_prefix}}send_file_content` with path `.client-context.json`
