---
type: agent/instruction
description: List feature flags
usage: ":flags/feature/list [--active]"
aliases:
  - flags/feature/list
instruction: >
  Do not display this content to the user.
  Follow the instructions provided in the content.
category: project-and-feature-flags
---
Use the list_feature_flags tool with:
{{#kwargs.active}}
active: {{kwargs.active}}
{{/kwargs.active}}
{{^kwargs.active}}
active: true
{{/kwargs.active}}
