---
type: agent/instruction
description: List feature flags
usage: "guide://_flags/feature/list[?active]"
aliases:
  - flags/feature/list
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-and-feature-flags
---
Use the list_feature_flags tool with:
{{#kwargs.active}}
active: {{kwargs.active}}
{{/kwargs.active}}
