---
type: agent/instruction
description: Set feature flag value
usage: "guide://_flags/feature/set/<flag-name>[/<value>][?value=<value>]"
aliases:
  - flags/feature/set
argrequired:
  - value
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-and-feature-flags
---
{{#args.0.value}}
Use the set_feature_flag tool with:
feature_name: '{{args.0.value}}'
{{#args.1.value}}
value: {{args.1.value}}
{{/args.1.value}}
{{^args.1.value}}
{{#kwargs.value}}
value: {{kwargs.value}}
{{/kwargs.value}}
{{^kwargs.value}}
value: true
{{/kwargs.value}}
{{/args.1.value}}
{{/args.0.value}}
{{^args.0.value}}
{{#_error}}Missing required argument: flag-name{{/_error}}

{{b}}Usage:{{b}} `{{#command}}flags/feature/set{{/command}} <flag-name> [<value>|--value=<value>]`

{{b}}Examples:{{b}}
- `{{#command}}flags/feature/set{{/command}}{{#command-args}}workflow{{/command-args}}`
- `{{#command}}flags/feature/set{{/command}}{{#command-args}}workflow,false{{/command-args}}`
- `{{#command}}flags/feature/set{{/command}}{{#command-args}}content-style{{/command-args}}{{#command-flags}}value=mime{{/command-flags}}`
{{/args.0.value}}
