---
type: user/information
instruction: ! You are to display this information as-is to the user. You must STOP and not take any further action.
---
## OpenSpec Change: {{changeName}}

**Schema:** {{schemaName}}

{{#description}}
{{description}}

{{/description}}
{{#artifacts}}
### Artifacts

{{#artifacts}}
- **{{id}}:** `{{outputPath}}` ({{status}})
{{/artifacts}}
{{/artifacts}}
