{{#project}}
Check if OpenSpec project is initialised:

1. Check if `openspec/config.yaml` file exists using a directory listing of `openspec`
2. Send directory listing using {{tool_prefix}}send_directory_listing with path `openspec`

If `openspec/config.yaml` does not exist, send an error.

**Note:** Do NOT display file content or command output to the user - only show confirmation messages.
{{/project}}
