---
type: agent/instruction
description: Remove path from allowed write paths
usage: "guide://_project/perm/write/remove/<path>"
category: project-permissions
aliases:
  - perm/write/remove
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
---
{{#args.0.value}}
Use the remove_permission_path tool with:
permission_type: 'write'
path: '{{args.0.value}}'
{{/args.0.value}}
{{^args.0.value}}
{{#_error}}Missing required argument: path{{/_error}}

{{b}}Usage:{{b}} `{{#command}}project/perm/write/remove{{/command}} <path>`

{{b}}Example:{{b}} `{{#command}}project/perm/write/remove{{/command}}{{#command-args}}docs/{{/command-args}}`
{{/args.0.value}}
