**Project: {{project_name}}**

{{#with_category}}
{{#categories}}
{{#verbose}}
**{{name}}**: {{description}}
{{/verbose}}
{{^verbose}}
**{{name}}**
{{/verbose}}
{{/categories}}

{{#collections}}
{{#verbose}}
**Collection: {{name}}** - {{description}}
  Categories: {{#categories}}{{.}}{{^last}}, {{/last}}{{/categories}}
{{/verbose}}
{{^verbose}}
**Collection: {{name}}**
{{/verbose}}
{{/collections}}
{{/with_category}}

{{#with_flags}}
**Project Flags:**
{{#project_flags}}
- {{name}}: {{value}}
{{/project_flags}}
{{/with_flags}}

{{#verbose}}
**Project Key:** {{project_key}}
**Project Hash:** {{project_hash}}
{{/verbose}}

{{#with_security}}
**Security Configuration:**
{{#allowed_write_paths}}
- Write: {{.}}
{{/allowed_write_paths}}
{{#read_paths}}
- Read: {{.}}
{{/read_paths}}
{{/with_security}}
