---
type: agent/instruction
description: List all categories in the current project
usage: "guide://_project/category/list[?verbose]"
aliases:
  - category/list
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-categories
---
Use the category_collection_list tool with:
type: 'category'
{{#kwargs.verbose}}verbose: true{{/kwargs.verbose}}
{{#kwargs.v}}verbose: true{{/kwargs.v}}
