---
cache: long
type: agent/instruction
provider: Phabricator
includes: [_provider-common]
description: >
  Issue Tracking Policy: Phabricator.
---
# Issue Tracking Policy: Phabricator

{{> provider-common}}
