---
description: Shows current project information and configuration
category: "info"
usage: ":info/project"
examples:
  - ":info/project"
includes: [../partials/_project.mustache]
---
# Project Information

{{>project}}
