---
description: List all available projects
category: "list"
usage: ":list/projects [--verbose|-v]"
examples:
  - ":list/projects"
  - ":list/projects --verbose"
  - ":list/projects -v"
---
# Available Projects
{{#kwargs.verbose}}{{#projects}}
## {{key}}{{#current}} (current){{/current}}

### Categories
{{#value.categories}}
- **{{name}}**: `{{dir}}`{{#patterns_str}} ({{patterns_str}}){{/patterns_str}}
{{/value.categories}}
{{^value.categories}}
None configured
{{/value.categories}}

### Collections
{{#value.collections}}
- **{{name}}**{{#description}}: {{description}}{{/description}}{{#categories_str}} ({{categories_str}}){{/categories_str}}
{{/value.collections}}
{{^value.collections}}
None configured
{{/value.collections}}

{{/projects}}{{/kwargs.verbose}}{{#kwargs.v}}{{#projects}}
## {{key}}{{#current}} (current){{/current}}

### Categories
{{#value.categories}}
- **{{name}}**: `{{dir}}`{{#patterns_str}} ({{patterns_str}}){{/patterns_str}}
{{/value.categories}}
{{^value.categories}}
None configured
{{/value.categories}}

### Collections
{{#value.collections}}
- **{{name}}**{{#description}}: {{description}}{{/description}}{{#categories_str}} ({{categories_str}}){{/categories_str}}
{{/value.collections}}
{{^value.collections}}
None configured
{{/value.collections}}

{{/projects}}{{/kwargs.v}}{{^kwargs.verbose}}{{^kwargs.v}}
{{#projects}}
- **{{key}}**{{#current}} (current){{/current}}
{{/projects}}

**Total Projects:** {{projects_count}}
{{/kwargs.v}}{{/kwargs.verbose}}
