---
type: agent/instruction
description: General guidelines around testing
instruction: "^ Follow these guidelines for testing the codebase, regardless of language. Run the checks - {{INSTRUCTION_NO_DISPLAY}}"
policies:
  - testing
---
{{h1}}Testing Instructions

These are the guidelines to follow for general code and quality testing.

{{h2}}Instructions for Testing

- Test the API not the implementation
- Test that a feature works

NEVER use "coverage" in module, class, function, method or variable names.
Always use names that describe what is being tested.
Coverage is a statistic that indicates how complete the testing is within the codebase.
It is not an end in itself.

{{h2}}Testing Policy

{{> testing}}
