---
type: agent/instruction
description: Change collection properties
usage: ":project/collection/change <name> [--new-name=<name>] [--new-categories=<categories>] [--new-description=<text>]"
aliases:
  - collection/change
argrequired:
  - new-name
  - new-categories
  - new-description
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-collections
---
{{#args.0.value}}
Use the collection_change tool with:
name: '{{args.0.value}}'
{{#kwargs.new_name}}
new_name: '{{kwargs.new_name}}'
{{/kwargs.new_name}}
{{#kwargs.new_categories}}
new_categories: {{kwargs.new_categories}}
{{/kwargs.new_categories}}
{{#kwargs.new_description}}
new_description: '{{kwargs.new_description}}'
{{/kwargs.new_description}}
{{/args.0.value}}
{{^args.0.value}}
{{#_error}}Missing required argument: name{{/_error}}

{{b}}Usage:{{b}} `{{#command}}project/collection/change{{/command}} <name> [--new-name=<name>] [--new-categories=<categories>] [--new-description=<text>]`

{{b}}Example:{{b}} `{{#command}}project/collection/change{{/command}}{{#command-args}}my-collection{{/command-args}}{{#command-flags}}new-name=renamed,new-categories=docs,guide,lang{{/command-flags}}`
{{/args.0.value}}
