---
type: agent/instruction
description: List all collections in the current project
usage: "guide://_project/collection/list[?verbose]"
aliases:
  - collection/list
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-collections
---
Use the category_collection_list tool with:
type: 'collection'
{{#kwargs.verbose}}verbose: true{{/kwargs.verbose}}
{{#kwargs.v}}verbose: true{{/kwargs.v}}
