---
type: agent/instruction
description: List all collections in the current project
usage: ":project/collection/list [--verbose|-v]"
aliases:
  - collection/list
instruction: >
  Do not display this content to the user.
  Follow the instructions provided in the content.
category: project-collections
---
Use the collection_list tool with:
{{#kwargs.verbose}}verbose: true{{/kwargs.verbose}}
{{#kwargs.v}}verbose: true{{/kwargs.v}}
{{^kwargs.verbose}}{{^kwargs.v}}verbose: true{{/kwargs.v}}{{/kwargs.verbose}}
