---
type: agent/instruction
description: Remove a collection from the current project
usage: "guide://_project/collection/remove/<name>"
aliases:
  - collection/remove
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-collections
---
{{#args.0.value}}
Use the collection_remove tool with:
name: '{{args.0.value}}'
{{/args.0.value}}
{{^args.0.value}}
{{#_error}}Missing required argument: name{{/_error}}

{{b}}Usage:{{b}} `{{#command}}project/collection/remove{{/command}} <name>`

{{b}}Example:{{b}} `{{#command}}project/collection/remove{{/command}}{{#command-args}}my-collection{{/command-args}}`
{{/args.0.value}}
