---
type: agent/instruction
Description: commence implementation
category: "project-workflow"
usage: ":workflow/implement"
aliases:
  - implement
instruction: Execute the implementation plan
---
{{h1}}Implementation mode

- You MUST review the project guidelines using {{#resource}}guidelines{{/resource}}
- Enter IMPLEMENTATION phase
- Make changes according to the detailed implementation plan

