---
type: user/information
description: Show current workflow status and details
category: "project-workflow"
requires-workflow: true
aliases:
  - "show"
usage: "guide://_workflow/show"
examples:
  - "guide://_workflow/show"
  - ":show"
includes:
  - ../_partials/_workflow-status.mustache
---
{{#workflow}}{{>workflow-status}}{{/workflow}}
{{^workflow}}
Workflow is not enabled.
{{/workflow}}
