---
requires-workflow: true
---
{{b}}Workflow State:
- {{b}}State File:{{b}} `{{workflow.file}}`
- {{b}}Phase:{{b}} {{#workflow.issue}}`{{workflow.phase}}`{{/workflow.issue}}{{^workflow.issue}}`Unknown`{{/workflow.issue}}
{{#workflow.issue}}- {{b}}Issue:{{b}} `{{workflow.issue}}`{{/workflow.issue}}{{^workflow.issue}}{{b}}Issue:{{b}} `None`{{/workflow.issue}}
{{#workflow.description}}{{b}}Description:{{b}} `{{workflow.description}}`{{/workflow.description}}
{{#workflow.tracking}}- {{b}}Tracking:{{b}} {{workflow.tracking}}{{/workflow.tracking}}
{{#workflow.queue}}- {{b}}Queue:{{b}}
  - {{value}}
{{/workflow.queue}}