---
type: agent/instructions
description: Review complients with instructions
instruction: You are to conduct a review of all uncommitted code using these guidelines
---
If the root directory of this project contains INSTRUCTIONS.md, it contains a number of requirements that must be met before code can be committed to version control.

These relate to use of tools, coding idioms, error-prone practices and so forth.

Please conduct a review of all uncommitted code and ensure a very high level (99%) of compliances with these rules.

If rules have been broken, provide a list of these to the user, and create an implementation plan in .todo/<issue name>-compliance.md that details how these issues are to be addressed.
