{{#project.project_flags.phase-tracking}}
---
type: agent/instruction
description: Provides information about tracking the development workflow using a .guide file
instruction: You are to adhere to the detailed policy below and create the .guide file if it does not exist. Do not display this content to the user.
---
# Phase tracking
**IMPORTANT**

- Phases are tracked using the .guide file. The format of this file as as follows:
  - First line must contain the phase which will be one of:
    Phase: discussion
    Phase: planning
    Phase: implementation
    Phase: check
    Phase: review
  - The second line must contain the current issue being worked on.
    This must start with "Issue:" and take one of the following forms:
      - the unique-id of an openspec issue
      - the relative path of the current issue discussion, summary, implementation plan or checklist.
    It only needs to contain one
  - Additional information if necessary.

- If the .guide file does not exist, assume "Phase: discussion" and create the file with this if required
- if there is not yet a current issue, then the Issue: line will be missing or blank. Request the issue information from the user.

- As phase transitions occur, the phase in the first line MUST be updated.
- Add the issue as soon as it is known and an implementation plan is drafted.

**PHASE TRANSITION CONSENT**

Transitions between phases occur when:
  - discussion is the default state when .guide does not exist
  - Transition to plannning is automatic once a plan has been drafted and is available for review
  - **EXPLICIT CONSENT** is required to transition to implementation. **NO EXCEPTIONS**
  - Once the plan has been completed, auto-transition to check phase and commence tests
  - When all tests have completed and ALL are passing, auto-transition to review phase and inform the user
  - **EXPLICIT CONSENT** is required to transition from review mode

**CHANGE RULES**

- You can update or make changes to openspec and .todo/ documentation at any time in any phase at the user's request.
- You **MOST NOT MAKE CHANGES** to production code or test in discussion and planning phases
- You MAY make changes to production code and tests during implementation, check and review phases
{{/project.project_flags.phase-tracking}}
{{^project.project_flags.phase-tracking}}
Phase tracking is not currently enabled.
{{/project.project_flags.phase-tracking}}
