---
type: agent/instruction
description: List project feature flags
usage: "guide://_flags/project/list[?active]"
aliases:
  - flags/project/list
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-and-feature-flags
---
Use the list_project_flags tool with:
{{#kwargs.active}}
active: {{kwargs.active}}
{{/kwargs.active}}
