---
type: agent/instruction
description: Remove project feature flag
usage: "guide://_flags/project/remove/<flag-name>"
aliases:
  - flags/project/remove
instruction: "{{INSTRUCTION_AGENT_INSTRUCTIONS}}"
category: project-and-feature-flags
---
{{#args.0.value}}
Use the set_project_flag tool with:
feature_name: '{{args.0.value}}'
value: null
{{/args.0.value}}
{{^args.0.value}}
{{#_error}}Missing required argument: flag-name{{/_error}}

{{b}}Usage:{{b}} `{{#command}}flags/project/remove{{/command}} <flag-name>`

{{b}}Example:{{b}} `{{#command}}flags/project/remove{{/command}}{{#command-args}}workflow{{/command-args}}`
{{/args.0.value}}
